{% extends 'main/layout.html' %}


{% block content %}


    <div class="messenger-main-container">

       
       
        
        <div class="messenger-chat-container">
            

            <div class="messenger-messages">
             {% for message in messages  %}


             {% if message.receiver == user and message.sender == restaurant.user %}

             <div class="messenger-message received">
              <div class="messenger-user-icon">A</div>
              <div class="messenger-message-content">
                  <p>{{  message.value  }}</p>
                  <span class="messenger-time">{{ message.date }}</span>
              </div>
              </div>

              {% endif %}


             {% if message.sender == user  and  message.receiver == restaurant.user  %}
             <div class="messenger-message sent">
                 <div class="messenger-message-content">
                     <p>{{ message.value  }}</p>
                     <span class="messenger-time">{{ message.date }}</span>
                 </div>
                 <div class="messenger-user-icon">B</div>
             </div>
              {% endif %}



             {% endfor %}
            </div>

            <div class="messenger-input-container">
                <form action="{% url 'send_message' %}"  method="post"  class="message_form">
                    {% csrf_token %}
                   <input type="hidden"  value="{{ restaurant.id }}" name="restaurant_id">
             
                <input type="text" placeholder="Type a message..." name="content" class="messenger-message-input">
                <button class="messenger-send-btn">Send</button>
                </form>
            </div>
        </div>
    </div>


{% endblock %}